body{
    display: flex;
    flex-direction: column;
    align-self: center;
}

main{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 2vh;   
}

form{
    width: 90vw;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

input{
    width: 2vw;
}

.game-controls{
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    width: 40vw;
    align-self: center;
}